@font-face {
    font-family: license-plate;
    src: url(fonts/license-plate.ttf);
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Arial;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

.text-muted {
	font-family: license-plate;
	font-size: 32px;
	padding-top:8px;
}

.text-muted a {
	text-decoration: none;
	color: black;
}

.nav-pills li {
	font-size: 16px;
	font-family: Helvetica;
	padding-right: 8px;
}

/* Custom page header */
.header {
	border: 2px solid #aaaaaa;
    border-radius: 10px;
	background-color:#E3E8A9;
	padding: 8px 8px 8px 8px;
	margin: 8px 8px 8px 8px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
	padding-left: 20px;
	color:black;
	font-weight: bold;
	font-weight:22px;
}

.mainView {
	border: 2px solid #999999;
	border-radius: 10px;
	background-color:#eeeeee;
	padding: 8px 8px 8px 8px;
	margin: 8px 8px 8px 8px;
}

/* Custom page footer */
.footer {
  /*
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	*/
	border: 2px solid #aaaaaa;
    border-radius: 10px;
	background-color:#E3E8A9;
	padding: 8px 8px 8px 8px;
	margin: 8px 8px 8px 8px;
}

.footer-nav li {
	display:inline;
	padding-right:12px;

}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Modal Styles */
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
   max-height: 560px;
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding:14px;
  text-align: center;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
/* End Modal Styles */

/* gallery list */
.gallery-item {
	min-height: 150px;
}

.gallery-item-image {
	border: 1px solid black;
	padding: 4px;
	margin: 4px;
	max-width:640px;
	max-height:490px;
}
/* end gallery list */

