<h1>About Bean</h1>
<p>I have been painting for a number of years now. I started painting one color bodies and putting the stickers on them like most people. Then I met a body painter at our local track by the name of Bob Berotti who inspired me to start putting a little more effort into my painting. Little did he know what he had started.
</p>
<p>
I started getting my masks from him to do more elaborate paint schemes and I did very well with them, winning concourse competitions quite often. Well now I have my own vinyl cutter and have been making my own masks and painting scale looking bodies, which has led to winning or top three finishes in numerous concourse competitions. So now I'm offering my service to others in the hopes of giving them one of the most realistic looking bodies at their track. 
</p>
<p><em>Thanks,<br />Christopher J. Green</em></p>